#juego {
  height: 600px;
  width: 600px;
  background-color: #e84a5e;
}

#juego div {
  width: 33.3333%;
  height: 33.3333%;
  float: left;
  border: 1px solid #e84a5e;
  box-sizing: border-box;
}

.pieza img {
  width: 100%;
}

#objetivo img {
  max-width: 300px;
}

/*Código armado por La Foca Loca S.A. No modificar*/

body {
  font-family: Arial, sans-serif;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../images/adventure.jpg);
}

ul {
  padding-left: 0;
  list-style: none;
}

li {
  padding: 5px 0;
  animation: fadein 5s;
}

li::before {
  content: "• ";
  color: #EC6778;
}

.col-40 h1 {
  font-size: 20px;
  color: #E84A5F;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}

.col-40 {
  background: #FFF;
  padding: 30px;
  color: #000;
}

.col-60 {
  background: #E84A5F;
}

#flecha {
  font-size: 60px;
}

.texto-centrado {
  text-align: center;
}

#juego div {
  text-align: center;
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}